# Rust/Cargo

# コンパイルされた成果物や生成されたファイルを保存する "target" ディレクトリを無視
*/target/

# ライブラリの場合、Cargo.lock を無視
# プロジェクトがライブラリの場合、以下の行のコメントを外す:
# Cargo.lock

# rustfmt によって作成されるバックアップファイルを無視
**/*.rs.bk

# エディタ固有のファイルを無視
*.swp
*.swo
*~

# macOS のシステムファイルを無視
.DS_Store

# テストランナーによって生成されるファイルを無視
*/coverage/

# ビルドプロセスによって生成されるファイルを無視
*/build/

# 環境ファイルを無視
.env